* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background-color: #fdf6f6;
}

.header {
  /* width: 100vw; */
  /* height: 4rem; */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 7rem;
  padding-block: 1rem;
  border-bottom: 1px solid rgb(212, 212, 212);
  position: fixed;
  top: 0;
}
.navbar h3 {
  font-size: 2rem;
  color: #002c54;
}
.list-container {
  display: flex;
  gap: 8px;
  list-style: none;
}

.list-container li {
  margin-inline: 2rem;
  font-size: 1.3rem;
}

.list-container li:active {
  border-color: black;
}
.list-container a {
  text-decoration: none;
  color: black;
  border-bottom: 2px solid transparent;
}
.list-container a:hover {
  color: #444;
  border-color: black;
}

.btn-primary {
  border: none;
  outline: none;
  background-color: rgb(212, 210, 210);
  padding-inline: 10px;
  padding-block: 10px;
  border-radius: 10px;
  /* box-shadow: 4px 4px 4px; */
  cursor: pointer;
}
.btn-primary:hover {
  background-color: black;
  color: white;
}
.btn-primary:active {
  background-color: white;
  color: black;
}

.toggle-menu {
  display: none;
}

.hero {
  display: flex;
  justify-content: space-evenly;
  padding-inline: 7rem;
  margin-top: 60px;
}

.hero-content-container {
  padding-top: 7rem;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 30px;
  width: 50%;
}

.hero-content-container h3 {
  background-color: coral;
  font-size: 24px;
  border-radius: 10px;
  padding-inline: 10px;
  color: whitesmoke;
}
.hero-content-container h2 {
  font-size: 44px;
  color: rgb(100, 43, 192);
}
.hero-content-container p{
  color: #606060;
}
.hero-img-container {
  width: 50%;
}
.hero-img-container img {
  width: 100%;
}

.btn-secondry {
  border: none;
  outline: none;
  background-color: rgb(100, 43, 192);
  padding-inline: 10px;
  padding-block: 10px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}
.btn-secondry:hover {
  background-color: black;
  color: white;
}
.btn-secondry:active {
  background-color: white;
  color: black;
}

.about {
  padding-inline: 7rem;
  display: flex;
  /* justify-content: space-evenly; */
  flex-direction: column;
}
.about-header {
  text-align: center;
  font-size: 28px;
  margin-top: 80px;
}
.about-content-container {
  display: flex;
  gap: 50px;
  margin-top: 80px;
  margin-bottom: 160px;
}
.about-content-left-container {
  width: 50%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid #444; */
  /* box-shadow: 1px 1px 1px #444; */
  /* box-shadow: 1px 2px 3px 4px rgba(20,20,20,0.4); */
  box-shadow: 1px 8px 10px 2px rgba(0, 0, 0, 0.1);
}
.about-content-left-container h4{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 22px;
  color: #444444;
}
.about-content-left-container p{
  padding-inline: 20px;
  color: #606060;
}
.about-content-container button{
  margin-block: 20px;
}




.about-content-right-container {
  width: 50%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  list-style: none;
  box-shadow: 1px 8px 10px 2px rgba(0, 0, 0, 0.1);
}

.about-content-right-container h4{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 22px;
  color: #444444;
}

.about-content-right-container ul{
  padding-inline: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.about-content-right-container li{
  list-style: none;
  border: none;
  outline: none;
  background-color: rgb(100, 43, 192);
  padding-inline: 8px;
  padding-block: 8px;
  border-radius: 10px;
  font-size: 14px;
  color: white;
}